#dashboard {
  display: flex;
  flex-flow: column;
}
#logo {
  display: flex;
  justify-content: center;
  padding: 2%;
}
#logo > h1 {
  text-align: center;
  /* margin-top: 10%; */
  margin-left: 1%;
  color: rgb(150, 49, 166);
}
#logo > img {
  height: 2%;
  width: 3%;
  /* margin-left: 30%; */
  margin-top: 1.5%;
}
#elements {
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
  cursor: pointer;
}
#display {
  margin: 1% 0% 15% 0%;
  padding: 5%;
  /* background-color: rgb(57, 146, 206); */
  color: black;
}
#display div {
  margin: 5% 0% 5% 0%;
}
body > button {
  margin-left: 90%;
  padding: 1%;
  border-radius: 40px;
  background-color: rgb(114, 49, 166);
  color: wheat;
}

.table_content {
  border-collapse: collapse;
  margin: 25px 0;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  /* min-width: 60%; */
  width: 100%;
  box-shadow: #f3f3f3;
}

.table_content thead tr {
  background-color: rgb(150, 49, 166);
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}

.table_content th,
.table_content td {
  padding: 12px 15px;
  text-align: center;
}

.table_content tbody tr {
  border-bottom: 1px solid #dddddd;
}

.table_content tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table_content tbody tr:last-of-type {
  border-bottom: 2px solid rgb(150, 49, 166);
}
.table_content tbody tr {
  height: 60px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
#search {
  margin-left: 9%;
  padding: 1%;
  width: 30%;
  border-radius: 8px;
}
#sorting {
  width: 30%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: -3.5% 0 0 60%;
}
#sorting button {
  width: 90%;
  padding: 2%;
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;
}
#sorted_data {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin: -18% 10% 0 10%;
}
#dashboard {
  margin-top: 30px;
}
#rightBar {
  margin-left: 250px;
}
