/* ----------------------------------footer */
#footer {
  width: 100%;
  /* border: 1px solid red; */
  background-color: #fafbfc;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 400px;
  gap: 10px;
}

#footer > div {
  /* border: 1px solid; */
  padding-left: 15px;
}

#footer > div > ul > li {
  list-style: none;
}
#footer > div > ul > li > a {
  text-decoration: none;
  line-height: 25px;
}
#footer > div:nth-child(3) > div > img {
  width: 100px;
}
#footer > div:nth-child(3) > h5,
div {
  margin-bottom: 8px;
}
.fa-brands {
  font-size: 25px;
  color: rgb(104, 103, 103);
}
/* #footer > div:nth-child(4) {
  border: 1px solid blue;
} */
#footer > div:nth-child(4) > div {
  /* border: 1px solid green; */
  display: flex;
  justify-content: space-around;
}

#footer > div:nth-child(4) > div:first-child > div > img {
  width: 80px;
  /* border: 1px solid red; */
}

#footer > div:nth-child(4) > div:first-child > div > p {
  /* border: 1px solid red; */
  font-size: 12px;
}
/* #footer > div:nth-child(5) > div {
  border: 1px solid red;
  width: 100%;
} */
#footer > div:nth-child(5) > div > span {
  color: gray;
  border-right: 2px solid grey;
  padding-right: 5px;
}
