* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
}

#navbar {
  width: 100%;
  height: 90px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  position: fixed;
  z-index: 5;
  top: 0;
}

#navbar > #logo {
  width: 5vw;
  height: 100%;
  display: flex;
  align-items: center;
}
#navbar img {
  width: 80%;
}

nav {
  width: 90%;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  height: 100%;
}

nav > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 35vw;
  margin-left: -50px;
}
nav > ul > li {
  height: 100%;
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 400;
  font-size: 1.1vw;
}

nav > ul > li > a {
  text-decoration: none;
  font-weight: 600;
}
#searchdiv > input {
  height: 100%;
  border: none;
  background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/1200px-Vector_search_icon.svg.png")
    no-repeat left;
  background-size: 12px;
  padding-left: 40px;
  width: 200px;
  background-position: 17px 15px;
  border: none;
  width: 30vw;
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
}

input:focus {
  outline: none;
}
#searchdiv {
  border: 1px solid rgb(216, 214, 214);
  height: 45%;
  border-radius: 10px;
  width: 30vw;
}

.icon {
  padding: 0px 2px;
  position: relative;
}
.icon p {
  font-size: 1.1vw;
}
#profiledropdown {
  height: 420px;
  position: fixed;
  padding-top: 20px;
  /* padding-right: 20px; */
  padding-left: 15px;
  top: 12.5vh;
  /* left; */
  /* left: 0; */
  right: 100px;
  width: 300px;
  z-index: 10;
  background-color: white;
  /* padding-right: 50px; */
  /* height: 300px; */
  /* opacity: 0; */
  visibility: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#profiledropdown p,
li {
  font-size: 14px;
  color: #3e4152;
}
#profiledropdown p:first-child {
  font-size: 16px;
  font-weight: 600;
}
#profiledropdown p:nth-child(2) {
  margin-bottom: 15px;
}
#profile:hover {
  border-bottom: 5px solid red;
}
#profiledropdown > ul > li:first-child {
  width: 140px;
  margin-left: 10px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  color: red;
  border: 1px solild red;
}
hr {
  border: 0.1px solid rgb(230, 230, 230);
  margin-right: 15px;
  margin-bottom: 10px;
  margin-top: 10px;
}
#profiledropdown > ul > li > a {
  color: red;
}
#profiledropdown li:first-child:hover {
  border: 1px solid red;
}
#profiledropdown li:hover {
  font-weight: 600;
}
#profiledropdown li:first-child {
  margin-bottom: 5px;
  border: 1px solid black;
}
.icon {
  height: 100%;
  display: flex;
  align-items: center;
}
.icon > a {
  text-decoration: none;
}
.icon > a > i {
  margin-left: 25%;
}

.icon:hover #profiledropdown {
  visibility: visible;
}
#profiledropdown > ul > li {
  list-style: none;
  line-height: 25px;
}
#profiledropdown > ul > li > a {
  text-decoration: none;
}

.megamenu {
  color: #282c3f;
  position: absolute;
  top: 100%;
  left: 0px;
  display: none;
  visibility: hidden;
  z-index: 4;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  width: 90%;
  display: flex;
  border: 1px solid rgb(223, 223, 223);
}
nav > ul > li:hover .megamenu {
  visibility: visible;
  display: flex;
}

.megaitems {
  flex-basis: 33%;
  padding: 20px 30px;
}
.megaitems:nth-child(even) {
  background-color: rgb(253, 247, 247);
}
.megaitems:nth-child(odd) {
  background-color: white;
}
.megaitems > ul > li:nth-child(1) {
  font-weight: 600;
  color: brown;
  margin-bottom: 10px;
}
.megaitems > h3 {
  color: brown;
  margin-bottom: 10px;
}
.megaitems > ul {
  border-bottom: 0.1px solid #f1eaea;
  width: 70%;
  margin-bottom: 10px;
}
.megaitems > ul > li {
  display: block;
  line-height: 25px;
  font-weight: 2vw;
}
.megaitems > ul > li:hover {
  font-weight: 600;
}
